* {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: "Roboto", sans-serif;
}
p{
  font-weight: 400;
}
h1{
  font-weight: 700;
}
h2{
  font-weight: 500;
}
#home a{
  margin-right: 30px;
  color: #4b5563;
}
.container-menu {
  font-size: 1.3vw;
  height: 110px;
  align-items: center;
  display: flex;
  background-color: #b91c1c;
}
.container-menu li {
  padding-right: 15%;
  margin-right: 8%;
}
.container-menu li :hover {
  color: rgb(100, 34, 34);
  border-bottom: solid 3px rgb(100, 34, 34);
  transition: 0.2s;
}

.container-menu ul {
  display: flex;
  list-style: none;
  margin-right: 10%;
}
.container-menu a {
  padding: 30%;
  text-decoration: none;
  color: pink;
  font-weight: 700;
}
#id_logo {
  padding-left: 5%;
  height: 200%;
  width: 20%;
}
#user{
 width: 35px;
 margin-left: 25%; 
}
.container-banner {
  background-color: #b91c1c;
}
.container-banner img {
  height: 700px;
  width: 100%;
}
#local {
  padding: 10px;
  color: pink;
  background-color: #b91c1c;
  text-align: center;
  font-size: 1.4vw;
  font-weight: 800;
}
.container-destaque h1 {
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: 700;
  text-align: center;
  color: #b91c1c;
}
#equipe-1,
#equipe-2,
#equipe-3,
#equipe-4{
  max-width: 700px;
  margin-bottom: 4%;
  align-items: center;
  background-color: #b91c1c;
  border: 5px #b91c1c solid;
  border-radius: 8px;
  padding: 10px;
}

.servico a {
  text-decoration: none;
  color: orange;
  padding-left: 2%;
}
.servico a:hover {
  color: aliceblue;
}
.servico {
  color: pink;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  gap: 3%;
  display: flex;
  align-items: center;
  margin-bottom: 4%;
  justify-content: center;

}
.faixa{
  color: #b91c1c;
  background-color: #b91c1c;
}
.galeria {
  padding: 1.5%;
  background-color: #4b5563;
  padding-bottom: 4%;
}
.galeria h1 {
  color: white;
}
#galeria-infos {
  display: flex;
  gap: 10%;
  justify-content: center;
  background-color: #4b5563;
}

#consertos-figure img {
  width: 500px;
  height: 400px;
  border-radius: 8px;
}
#oficina-figure img {
  width: 500px;
  height: 400px;
  border-radius: 8px;
}
#oficina-figure figcaption,
#consertos-figure figcaption {
  border: 10px #b91c1c solid;
  background-color: #b91c1c;
  border-radius: 8px;
  color: white;
}
#oficina-figure a,
#consertos-figure a {
  flex-direction: column;
  color: orange;
  text-decoration: none;
}
#oficina-figure figcaption,
#consertos-figure figcaption {
  padding: 5px;
}

#oficina-figure :hover, #consertos-figure :hover{
  scale: 1.02;
  transition: 0.5s;
}

#oficina-figure,
#consertos a:hover {
  color: pink;
}
.faixa2{
  background-color: #b91c1c;
  color: #b91c1c;
}
.rodape h1{
  text-align: center;
  color: #b91c1c;

}
.redes{
  width: 70%;
  background-color: #b91c1c;
}

#whatsapp{
  margin-right: 2.7%;
}
#facebook, #whatsapp, #email, #telefone{
  margin: 2%;
  gap: 5px;
  margin-right: 80%;
  align-items: center;
  display: flex;
  width: 50%;
}
#facebook img, #whatsapp img, #email img, #telefone img{
width: 30px;
}
.missao-visao{
  display: flex;
}
.redes-missao{
  display: flex;
  width: 90%;
}

#missao{
  width: 60%;
}
#visao{
  width: 60%;
}

